body { 
    background-color: rgb(100, 150, 100);
    text-align: left;
    font-family: 'Viaoda Libre', cursive; }
h1 { 
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
     color: maroon;
     font-size: 30px;
}
   
a { 
    font-size: 25px;

}
}
