body { 
    background-color: olive;

}
H1 { 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(7, 12, 41);
    background-color: rgb(235, 148, 148);
    font-size: 35px;
}
.box-content { 
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 25px;
}