
body {
    
    
    background-color: rgb(228, 235, 164);
    font-family: 'Dancing Script', cursive;

}

h1 { font-size: 60px;  
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-left: 300px;
   
}
h2 { font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-shadow: maroon;
color: maroon;
text-align: center;

}

nav {
    
    margin: 20px;
    float: right;
    position: relative;
    bottom: 50px;
    right: 50px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 100px;
}
nav ul li a{
text-decoration-thickness: 6pt;
color: purple;
font-size: 20px;
}
img { padding-left: 500px;}



.box-content {
    background-color: rgb(228, 235, 164);
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 25px;
    
}

.div-2 {
    background-color: rgb(228, 235, 164);
    font-family: 'Roboto Mono', monospace;
    text-align: center;

}

p { 
    color: purple; 
    font-size: 25px;
    
}

    

footer { margin-top: 140px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: royalblue;
    text-align: center;
}