body{ background-color: rgb(229, 235, 198);

}





h1 { font-size: 60px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-left: 300px;
} 



h2 {font-family: 'Festive', cursive;
    font-size: 60px;
    color: rgb(122, 50, 50);
    text-align: center;
    padding-bottom: 10px; 
    padding-left: 500px;
    display: ruby-text-container ;

    }
p { font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding-bottom: 10px;
    display: ruby-text-container ;
    color: black;
    font-size: 20px;

}

nav {

    margin: 20px;
    float: right;
    position: relative;
    bottom: 50px;
    right: 50px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 100px;
}
nav ul li a{
text-decoration-thickness: 6pt;
color: purple;
font-size: 20px;
}
