
body {
    
    
    background-color: rgb(228, 235, 164);
    font-family: 'Dancing Script', cursive;

}

h1 { font-size: 60px;  
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-left: 300px;
   
}
h2 { font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-shadow: maroon;
color: maroon;
text-align: center;

}

nav {
    
    margin: 20px;
    float: right;
    position: relative;
    bottom: 50px;
    right: 50px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 100px;
}
nav ul li a{
text-decoration-thickness: 6pt;
color: purple;
font-size: 20px;
} 

img { 
    padding-left: 400px;
}



.box-content {
    background-color: rgb(228, 235, 164);
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 25px;
    color: purple; }

    h3 { 
        font-style: normal;
        font-family: Georgia, 'Times New Roman', Times, serif;
         color: maroon;
         font-size: 30px;
    }
       
    a { 
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: left;
    }
    
        h4 {font-family: 'Festive', cursive;
            font-size: 60px;
            color: rgb(122, 50, 50);
            text-align: center;
             
             }

        .plan { font-family: 'Roboto Mono', monospace;
            text-align:justify;
            padding-bottom: 10px;
            padding-right: 500px;
            display: ruby-text-container ;
            color: black;
            font-size: 20px;}   

            h5 { 
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: rgb(7, 12, 41);
                background-color: rgb(235, 148, 148);
                font-size: 35px;
            }
            .answer { 
                font-family: 'Roboto Mono', monospace;
                color: black;
                font-size: 25px;
                text-align: left;
            }

            h6 {font-family: 'Uchen', serif;
                color: rgb(21, 21, 104);
                text-align: center;
                text-shadow: rgb(147, 147, 235);
                font-size: 40px;}

             .explain { font-family: 'Roboto Mono', monospace;
                font-size: 25px;
                 text-align: left;
            }  

             h7 { color: rgb(6, 6, 70);
                font-size: 30px;
                font-family: Arial, Helvetica, sans-serif;

             }   

footer { margin-top: 140px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(7, 15, 37);
    text-align: center;
}