




body {
    
    
    background-color: rgb(228, 235, 164);
    font-family: 'Dancing Script', cursive;

}

h1 { font-size: 80px;  
    font-family: 'Yanone Kaffeesatz', sans-serif;
    opacity: 0.6;
    background-color:rgb(241, 197, 241);
    margin-right: 450px;}

nav {
    
    
    float: right;
    position: relative;
    bottom: 50px;
    right: 50px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 100px;
}
nav ul li a{
text-decoration-thickness: 6pt;
color:rgba(234, 240, 246, 0.8);
font-size: 20px;
} 




.box-content {
    background-color:black;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    font-size: 25px;
    color: white;
    margin-right: 500px;
    border-radius: 70px;
   opacity: 0.8;
   padding-left: 100px;
   padding-right: 100px;

}

    h3 { 
        font-style: normal;
        font-family: Georgia, 'Times New Roman', Times, serif;
         color: maroon;
         font-size: 50px;
         background-color:rgb(241, 197, 241,1.0) !important;
         margin-right: 750px;
         opacity: 0.8;
    }
       
    a { 
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: left;
        background-color: black;
        opacity: 0.8;
        
    }
    
        h4 {font-family: 'Festive', cursive;
            font-size: 60px;
            color: rgb(122, 50, 50);
            text-align: left;
            background-color: rgb(241, 197, 241);
            margin-right: 1000px;
            opacity: 0.8;
             }

        .plan { font-family: 'Roboto Mono', monospace;
            text-align:left;
            display: ruby-text-container ;
            color:white;
            box-sizing:initial;
            margin-bottom: 200px;
            background-color: black;
            font-size: 20px;   
            opacity: 0.8;}
            h5 { 
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: rgb(7, 12, 41);
                background-color: rgb(235, 148, 148);
                font-size: 50px;
                margin-right: 300;
                opacity: 0.8;
            }
            .answer { 
                font-family: 'Roboto Mono', monospace;
                color: white;
                font-size: 25px;
                text-align: left;
                background-color: black;
                opacity: 0.8;
            }

            h6 {font-family: 'Uchen', serif;
                color: rgb(182, 12, 117,0.8);
                text-align: center;
                
                background-color: rgb(241, 197, 241);
                font-size: 40px;}

             .explain { font-family: 'Roboto Mono', monospace;
                font-size: 25px;
                 text-align: left;
                 background-color:rgba(7, 7, 7, 0.5);
                 color: rgb(240, 236, 236,1.0) !important;
                 
            }  p2 {
                padding-left: 500px;
            }

             h7 { color: rgb(237, 237, 252);
                font-size: 30px;
                opacity: 1.0;
                font-family: Arial, Helvetica, sans-serif;}
                
             h8 { font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: rgb(182, 12, 49);
                text-align:center;
                opacity: 0.8;
                 font-size: 40px;
                 background-color:rgb(241, 197, 241) ;
                 
                }
             h9 { font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: rgb(182, 12, 49,1.0);
                text-align:center;
                 font-size: 40px;
                 opacity: 0.8;
                 background-color:rgb(221, 179, 221) ;
                

             } 
             p3 {
                 padding-left: 450px;
                 opacity: 1.0;
             }


             


footer { margin-top: 140px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    color: black;
    text-align: center;
}